 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  width:1200px;
  text-align:center;
  margin:0 auto;

}

.container{
  margin:0 auto;
  padding:50px;
  width:600px; 
  margin-top:300px;
  background-color:#ffff94;
}



.item-count{
	width:100px;
	background-color:blue;
	color:white;
	padding:5px;
}

// #input{
// 	width:400px;
// 	background-color:green;
// }

.title{
	text-align:center;
}